body {
  background-color: #f5f5f5;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Verdana,sans-serif;
}
h1 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
.main_bg {
  background-color: #ffffff;
}
.top-visual{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom: 1px solid #f3f3f3;
}
.top-title{
  font-size: 30px;
  position:absolute; /* 絶対配置 */
  top:40%; /* 上から半分 */
  left:50%; /* 左から半分 */
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.top-img{
  position:absolute; /* 絶対配置 */
  top:60%; /* 上から半分 */
  left:50%; /* 左から半分 */
  overflow: hidden;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.main_imgBox {
  top:60%;
  left:50%;
  overflow: hidden;
  position:absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.main_img {
  opacity: 0;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  -webkit-animation: anime 12s 0s infinite;
  animation: anime 12s 0s infinite;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  65% {
    opacity: 1;
    transform: scale(1.2) ;
  }
  85% {
    opacity: 0;
    transform: scale(1.3) ;
  }
  100% { opacity: 0 }
}
.main_text{
  padding-top: 150px;
  text-align:center;
  transition: font-size 2s; /*transitionは通常時にセット*/
  -webkit-transition: font-size 2s;
}
.main_text:hover {
  font-size: 20px;
}
.main_pic{
  padding: 60px;
}
.top-title:hover {
  display: block;
  animation: hurueru .3s  infinite;
}
@keyframes hurueru {
/*    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}*/
    0% {transform: translate(-50%,-52%) rotateZ(0deg)}
    25% {transform: translate(-52%,-50%) rotateZ(1deg)}
    50% {transform: translate(-50%,-52%) rotateZ(0deg)}
    75% {transform: translate(-52%,-50%) rotateZ(-1deg)}
    100% {transform: translate(-50%,-50%) rotateZ(0deg)}
}
footer {
  background-color: rgba(44, 62, 80, 1.0);

  width: 100%;
  bottom: 0;
  font-weight: lighter;
  color: white;
}
.footerHeader{
  width:100%;
  padding:1em;
  background-color:rgba(52, 73, 94,1.0);
  text-align:center;
  color:white;
}
footer h3{
  font-weight:lighter;
}
footer ul{
  padding-left:5px;
  list-style:none;
}
footer p{
  text-align : justify;
  font-size : 12px;
}
footer iframe {
  width:100%;
  position:relative;
  height:170px;
}
.sm{
  list-style:none;
  overflow:auto;
}
.sm li {
  display: inline;
  padding:5px;
  float:left;
}
.sm li a img {
  width:32px;
}
.box19 {
  position: relative;
  padding:0.25em 1em;
}
.box19:before,.box19:after{ 
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
.box19:before{
  border-left: solid 1px #5767bf;
  border-top: solid 1px #5767bf;
  top:0;
  left: 0;
}
.box19:after{
  border-right: solid 1px #5767bf;
  border-bottom: solid 1px #5767bf;
  bottom:0;
  right: 0;
}
.box19 p {
  margin: 0; 
  padding: 0;
}
#map_canvas{
  height: 400px;
  width: 400px;
}
.input_box{
  margin: 50px;
}
#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
  left:0;
  height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
  font-size:50px;
  margin-bottom:15px;
  color:#FFF;
  line-height:100%;
  letter-spacing:0.5px;
  font-weight:600;
}
#myCarousel p{
  font-size:18px;
  margin-bottom:15px;
  color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
  opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0)
  }
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 1;
}

.services-icon {
  margin-bottom: 20px;
  font-size: 30px;
}
bgc2, .vLine, .hLine {
    background-color: #0F52BA;
}

.quote-icon {
  font-size: 40px;
  margin-bottom: 20px;
}
.services-icon {
    font-size: 60px;
    margin-left: 2rem;
}