body {
  background-color: #f5f5f5;
  font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Verdana,sans-serif;
}
h1 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}
.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
.main_bg {
  background-color: #ffffff;
}
.top-visual{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom: 1px solid #f3f3f3;
}
.top-title{
  font-size: 30px;
  position:absolute; /* 絶対配置 */
  top:40%; /* 上から半分 */
  left:50%; /* 左から半分 */
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.top-img{
  position:absolute; /* 絶対配置 */
  top:60%; /* 上から半分 */
  left:50%; /* 左から半分 */
  overflow: hidden;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.main_imgBox {
  top:60%;
  left:50%;
  overflow: hidden;
  position:absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.main_img {
  opacity: 0;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  -webkit-animation: anime 12s 0s infinite;
  animation: anime 12s 0s infinite;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  65% {
    opacity: 1;
    transform: scale(1.2) ;
  }
  85% {
    opacity: 0;
    transform: scale(1.3) ;
  }
  100% { opacity: 0 }
}
.main_text{
  padding-top: 150px;
  text-align:center;
  transition: font-size 2s; /*transitionは通常時にセット*/
  -webkit-transition: font-size 2s;
}
.main_text:hover {
  font-size: 20px;
}
.main_pic{
  padding: 60px;
}
.top-title:hover {
  display: block;
  animation: hurueru .3s  infinite;
}
@keyframes hurueru {
/*    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}*/
    0% {transform: translate(-50%,-52%) rotateZ(0deg)}
    25% {transform: translate(-52%,-50%) rotateZ(1deg)}
    50% {transform: translate(-50%,-52%) rotateZ(0deg)}
    75% {transform: translate(-52%,-50%) rotateZ(-1deg)}
    100% {transform: translate(-50%,-50%) rotateZ(0deg)}
}
footer {
  background-color: rgba(44, 62, 80, 1.0);

  width: 100%;
  bottom: 0;
  font-weight: lighter;
  color: white;
}
.footerHeader{
  width:100%;
  padding:1em;
  background-color:rgba(52, 73, 94,1.0);
  text-align:center;
  color:white;
}
footer h3{
  font-weight:lighter;
}
footer ul{
  padding-left:5px;
  list-style:none;
}
footer p{
  text-align : justify;
  font-size : 12px;
}
footer iframe {
  width:100%;
  position:relative;
  height:170px;
}
.sm{
  list-style:none;
  overflow:auto;
}
.sm li {
  display: inline;
  padding:5px;
  float:left;
}
.sm li a img {
  width:32px;
}
.box19 {
  position: relative;
  padding:0.25em 1em;
}
.box19:before,.box19:after{ 
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
.box19:before{
  border-left: solid 1px #5767bf;
  border-top: solid 1px #5767bf;
  top:0;
  left: 0;
}
.box19:after{
  border-right: solid 1px #5767bf;
  border-bottom: solid 1px #5767bf;
  bottom:0;
  right: 0;
}
.box19 p {
  margin: 0; 
  padding: 0;
}
#map_canvas{
  height: 400px;
  width: 400px;
}
.input_box{
  margin: 50px;
}